<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCTGbGgnksZI8zC1WJ5QAiTO2KoK-v9E4</string>
	<key>GCM_SENDER_ID</key>
	<string>667520645493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-1d490</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-1d490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667520645493:ios:1a40cd1bdee4a3f49a3b3c</string>
</dict>
</plist>